<h1>Hello from Rails</h1>
<p>It is now <%= @time %></p>
<p>One hour from now is <%= @time_in_1_hour %></p>
<p>Time to say <%= link_to "Goodbye", say_goodbye_path %>!</p>

<h2>Addition</h2>
<p>1+2 is <%= 1+2 %></p>

<h2>Concatenation</h2>
<p>"cow" + "boy" is <%= "cow" + "boy" %></p>
<p>"cow" + " boy" is <%= "cow" + " boy" %></p>
